@use 'src/styles/vars';

.home {
  .home-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .home-burger {
      width: 20%;
      height: 100%;
      text-align: center;
      &.open {
      }
    }

    @media only screen and (max-width : 375px) {
      .home-burger {
        margin-left: 0;
      }
    }
    @media only screen and (min-width : 481px) and (max-width : 700px) {
      .home-burger {
        margin-left: 0.7em;
      }
    }
    @media only screen and (min-width : 481px) {
      .home-burger {
        margin-left: 1em;
      }
    }
    
    .home-searchBar {
      background: vars.$backgroundColor;
      width: 100%;
      transition: all 1s ease-in-out;
      margin-right: 10px;
      border-radius: 5px;
      &.open {
        width: 100%;
        transition:all 500ms ease-in-out;
      }
      input {
        color: wheat;
        overflow: hidden;
      }
      label {
        color: vars.$fontColor;
      }
      input::placeholder {
        color: rgb(255, 255, 255);
      }

    }
    @media only screen and (max-width : 375px) {
      .home-searchBar {
        width: 67%;
        &.open {
          width: 45%;
        }
      }
    }
    @media only screen and (min-width : 375px) and (max-width : 480px) {
      .home-searchBar {
        width: 80%;
        &.open {
          width: 55%;
        }
      }
    }
    @media only screen and (min-width : 481px) and (max-width : 610px) {
      .home-searchBar {
        width: 95%;
        &.open {
          width: 57%;
        }
      }
    }
    @media only screen and (min-width : 611px) and (max-width : 700px) {
      .home-searchBar {
        width: 97%;
        &.open {
          width: 66%;
        }
      }
    }
    @media only screen and (min-width : 701px) and (max-width : 800px) {
      .home-searchBar {
        width: 99%;
        &.open {
          width: 68%;
        }
      }
    }
    @media only screen and (min-width : 801px) and (max-width : 930px) {
      .home-searchBar {
        width: 100%;
        &.open {
          width: 73%;
        }
      }
    }
    @media only screen and (min-width : 931px) and (max-width : 1100px) {
      .home-searchBar {
        width: 100%;
        &.open {
          width: 80%;
        }
      }
    }
  }
  @media only screen and (min-width : 768px) {
    .home-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      & > * {
        width: 49%;
      }
    }
  }
  .home-list {
    margin: 20px 10px 0 10px;
    text-align: center;
    transition: all 600ms ease-out;
    &.open {
      margin: 115px 10px 0 10px;
      transition-duration: 500ms;
      transition-timing-function: linear;
    }
    .card {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 230px;
      width: 100%;
      margin: 20px 0;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 8px 3px #000;
      transition: 1s;
      &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 8px 5px #000;
        transition: 0.2s;
      }
      .card-info {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .card-info-restaurant-name {
          width: 70%;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          padding: 8px;
          font-weight: bold;
          text-transform: capitalize;
          background-color: vars.$backgroundColor;
          box-shadow: 0 0 6px 3px #000;
          .name {
            font-size: 1.2em;
            color: vars.$fontColor;
          }
          .type {
            margin-top: 5px;
            font-size: 0.9em;
            color: vars.$secondColor;
          }
        }
        .card-info-restaurant-queue {
          padding: 2px;
          font-size: 1.2em;
          color: vars.$fontColor;
          background-color: vars.$backgroundColor;
          box-shadow: 0 0 6px 3px #000;
          width: 20%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          svg {
            font-size: 2em;
            padding-top: 10px;
          }
          span {
            color: vars.$secondColor;
            font-weight: bold;
            font-size: 1.8em;
            margin-bottom: 5px;
          }
        }

        @media only screen and (min-width : 480px) and (max-width : 768px) {
          .card-info-restaurant-name {
            width: 70%;
            .name {
              font-size: 1.5em;
            }
          }
          .card-info-restaurant-queue {
            width: 40%;
          }
        }
      }

    }
    .home-no-result {
      font-size: 2.5em;
      margin-top: 100px;
    }
  }
}
